{
  "Debugger":{
    "DefaultLogName": "UnityCardEnginePrototype",
    "Loggers": [
      {
        "Name": "UnityCardEnginePrototype",
        "MessageTypes": "Information,Warning,Error,Exception,Success,Fail,Verbose",
        "NewLine": "{PlatformNewLineString}",
        "BaseLog": "false",
        "BufferSizeMB": 1
      }
    ]
  }
}